{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% block custom_css %}
        <style type="text/css" media="all">
            @media print {
                @page {

                    size: A4;


                }

                @page {
                    margin: 1cm
                }

                /* All margins set to 2cm */
                @page :first {
                    margin-top: 0cm    /* Top margin on first page 10cm */
                }


                br {
                    display: none !important;
                }


                #btnPrint {
                    display: none !important;
                }

                body {
                    height: 100%;
                    width: 100%;
                }




                .row {
                    display: flex;
                    margin-left: -5px;
                    margin-right: -5px;
                }

                .col-md-4 {
                    width: 33%;
                }

                h2 {
                    display: none !important;
                }

                .card-body {
                    display: none !important;
                }
            }


            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            .row {
                display: flex;
                margin-left: -5px;
                margin-right: -5px;
            }

.form-rounded {
        border-radius: 1rem;
    }
        </style>
    {% endblock custom_css %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="col-12">
                <div class="card-header" style="background-color:#0B5ED7">
                    <h2 style="color:white">Document View</h2>
                </div>
                <div class="card-body">
                </div>


                <div class="row">
                    <div class="col-md-4">

                        <label>Client ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Client Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.client_personal_id }}"
                               readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Client Name : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.client_name }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Client Home Telephone : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.client_home_tel }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Client Office Telephone : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.client_office_tel }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Client Mobile : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.client_mobile }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Client Address : </label>
                        <input type="text" class="form-control form-rounded"
                               value="{{ client_data_view.client_address }}, {{ client_data_view.client_province }}, {{ client_data_view.client_nghood }}, {{ client_data_view.client_pobox }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contact Name : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.contact_name }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contact Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.contact_id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contact Mobile : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.contact_mobile }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.created_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.created_date }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.updated_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ client_data_view.updated_date }}" readonly>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-4">
                        <label>Proposal ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.proposal_id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Item Type : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.item_type }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal No. Items : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.no_items }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Proposal Item Details : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.item_details }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Design : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.img }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Estimated Width : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.es_width }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Estimated Height : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.es_height }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Final Width : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.fn_width }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Proposal Final Height : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.fn_height }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Proposal Status : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.proposal_status }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.created_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.created_date }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.updated_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ proposal_data_view.updated_date }}" readonly>
                    </div>
                </div>

                <br>
                <div class="row">

                    <div class="col-md-4">
                        <label>Contract ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.contract_id }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Contract Item Type : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.item_type }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Contract No. Items : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.no_items }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Contract Item Details : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.item_details }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Design : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.img }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Contract Final Width : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.fn_width }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Final Height : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.fn_height }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Start Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.contract_start_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Delivery Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.contract_delivery_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.created_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.created_date }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.updated_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ contract_data_view.updated_date }}" readonly>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-4">
                        <label>Project ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.project_id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Name : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.project_name }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Project Item Type : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.item_type }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Project No. Items : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.no_items }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Project Item Details : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.item_details }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Design : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.img }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Project Final Width : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.fn_width }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Final Height : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.fn_height }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Status : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.project_status }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Start Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.start_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project End Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.end_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Plan Delivery Date : </label>
                        <input type="text" class="form-control form-rounded"
                               value="{{ project_data_view.project_plan_delivery_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Delivery Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.project_delivery_date }}"
                               readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Contract Start Date : </label>
                        <input type="text" class="form-control form-rounded"  value="{{ project_data_view.contract_start_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Contract Delivery Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.contract_delivery_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Sales : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.sales }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Manager : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.project_manager }}"
                               readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Created By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.created_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.created_date }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.updated_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Updated Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ project_data_view.updated_date }}" readonly>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label>Task ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Task Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.task_id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Task Name : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.task_name }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Task Item Type : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.item_type }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Task No. Items : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.no_items }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Task Item Details : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.item_details }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Task Design : </label>
                        <input type="text" class="form-control" value="{{ task_data_view.img }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Task Final Width : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.fn_width }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Task Final Height : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.fn_height }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Task Status : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.task_status }}" readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Task Start Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.start_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Task End Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.end_date }}"
                               readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Task Delivery Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.task_dlv_date }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Sales : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.sales_id }}"
                               readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Project Manager : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.project_manager_id }}"
                               readonly>
                    </div>


                    <div class="col-md-4">
                        <label>Created By : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.created_by }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Created Date : </label>
                        <input type="text" class="form-control form-rounded" value="{{ task_data_view.created_date }}" readonly>
                    </div>


                </div>

                <br>
                <div class="row" id="doc">

                    <div class="col-md-4">
                        <label>Document ID : </label>
                        <input type="text" class="form-control form-rounded" value="{{ document_data_view.id }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Document Code : </label>
                        <input type="text" class="form-control form-rounded" value="{{ document_data_view.document_id }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label>Document Name</label>
                        <input type="text" class="form-control form-rounded" value="{{ document_data_view.document_name }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Document Type :</label>
                        <input type="text" class="form-control form-rounded" value="{{ document_data_view.document_type }}" readonly>
                    </div>
                    <div class="col-md-4">

                                <label>Created Date: </label>
                                <input type="date" class="form-control form-rounded" value="{{ document_data_view.created_date }}" readonly>

                    </div>


                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="btnPrint" class="hidden-print">
                        Print
                    </button>
                    <script>
                        const $btnPrint = document.querySelector("#btnPrint");

                        $btnPrint.addEventListener("click", () => {
                            window.print();
                        });
                    </script>
                </div>
            </div>
        </div>
    </main>


{% endblock content %}



