{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
    body{
        width: 200px;
    }
        table {
            border-collapse: collapse;
            padding: 1px;
        {#width: 100%#}
        }

        td, th {
            border: black solid 1px;
            text-align: left;
            padding: 6px;
            font-size: 12px;
            {#width: 200px;#}
        }
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">

                <table class="table">
                    <thead>
                    <h2>Client Data</h2>
                    <tr>
                        <th scope="col">Client ID</th>
                        <th scope="col">Client Code</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Client Home Telephone</th>
                        <th scope="col">Client Office Telephone</th>
                        <th scope="col">Client Mobile</th>
                        <th scope="col">Client Address</th>

                    </thead>
                    <tbody>


                    <tr>
                        <td>   {{ client_pdf.id }}</td>

                        <td>  {{ client_pdf.client_personal_id }} </td>
                        <td> {{ client_pdf.client_name }}</td>
                        <td>    {{ client_pdf.client_home_tel }} </td>
                        <td>  {{ client_pdf.client_office_tel }} </td>
                        <td> {{ client_pdf.client_mobile }} </td>
                        <td>{{ client_pdf.client_address }}, {{ client_pdf.client_province }}, {{ client_pdf.client_nghood }}, {{ client_pdf.client_pobox }}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                    <tr>

                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Code</th>
                        <th scope="col">Contact Mobile</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Updated By</th>
                        <th scope="col">Updated Date</th>


                    </thead>
                    <tbody>


                    <tr>

                        <td>{{ client_pdf.contact_name }}</td>
                        <td>{{ client_pdf.contact_id }}</td>
                        <td>{{ client_pdf.contact_mobile }}</td>
                        <td>{{ client_pdf.created_by }}</td>
                        <td>{{ client_pdf.created_date }}</td>
                        <td>{{ client_pdf.updated_by }}</td>
                        <td>{{ client_pdf.updated_date }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <br>


        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                                        <h2>Proposal Data</h2>

                    <tr>

                        <th scope="col">Proposal ID</th>
                        <th scope="col">Proposal Code</th>
                        <th scope="col">Proposal Item Type</th>
                        <th scope="col">Proposal No. Items</th>
                        <th scope="col">Proposal Item Details</th>
                        {#                        <th scope="col">Proposal Design</th>#}

                        {#        <th scope="col">Proposal Status</th>#}
                    </thead>
                    <tbody>


                    <tr>

                        <td>{{ proposal_pdf.id }}</td>
                        <td>{{ proposal_pdf.proposal_id }}</td>
                        <td>{{ proposal_pdf.item_type }}</td>
                        <td>{{ proposal_pdf.no_items }}</td>
                        <td>{{ proposal_pdf.item_details }}</td>
                        {#                        <td style="width: 200px">{{ proposal_pdf.img }} </td>#}
                        {#                                        <td>{{ proposal_pdf.proposal_status }}</td>#}


                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Proposal Estimated Width</th>
                        <th scope="col">Proposal Estimated Height</th>
                        <th scope="col">Proposal Final Width</th>
                        <th scope="col">Proposal Final Height</th>
                        <th scope="col">Proposal Design</th>


                    </thead>
                    <tbody>


                    <tr>
                        <td>{{ proposal_pdf.es_width }}</td>

                        <td>{{ proposal_pdf.es_height }}</td>
                        <td>{{ proposal_pdf.fn_width }}</td>
                        <td>{{ proposal_pdf.fn_height }}</td>
                        <td>{{ proposal_pdf.img }} </td>


                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                    <tr>


                        <th scope="col">Proposal Status</th>
                        <th scope="col"> Created By</th>
                        <th scope="col"> Created Date</th>
                        <th scope="col">Updated By</th>
                        <th scope="col"> Updated Date</th>
                    </thead>
                    <tbody>


                    <tr>


                        <td>{{ proposal_pdf.proposal_status }}</td>
                        <td>{{ proposal_pdf.created_by }}</td>
                        <td>{{ proposal_pdf.created_date }}</td>
                        <td>{{ proposal_pdf.updated_by }}</td>
                        <td>{{ proposal_pdf.updated_date }}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <br>


        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                                        <h2>Contract Data</h2>

                    <tr>


                        <th scope="col">Contract ID</th>
                        <th scope="col">Contract Code</th>
                        <th scope="col">Contract Item Type</th>
                        <th scope="col">Contract No. Items</th>
                        <th scope="col">Contract Item Details</th>
                    </thead>
                    <tbody>


                    <tr>


                        <td>{{ contract_pdf.id }}</td>
                        <td>{{ contract_pdf.contract_id }}</td>
                        <td>{{ contract_pdf.item_type }}</td>
                        <td>{{ contract_pdf.no_items }}</td>
                        <td>{{ contract_pdf.item_details }}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-4">

                <table class="table">
                    <thead>
                    <tr>

                        <th scope="col">Contract Design</th>
                        <th scope="col">Contract Final Width</th>
                        <th scope="col">Contract Final Height</th>
                        <th scope="col">Contract Start Date</th>
                        <th scope="col">Contract Delivery Date</th>
                    </thead>
                    <tbody>


                    <tr>

                        <td style="width: 224px">{{ contract_pdf.img }}</td>
                        <td>{{ contract_pdf.fn_width }}</td>
                        <td>{{ contract_pdf.fn_height }}</td>
                        <td>{{ contract_pdf.contract_start_date }}</td>
                        <td>{{ contract_pdf.contract_delivery_date }}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>



    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table">
                <thead>
                <tr>


                    <th scope="col">Created Status</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated By</th>
                    <th scope="col">Updated Date</th>
                </thead>
                <tbody>


                <tr>


                    <td>{{ contract_pdf.contract_status }}</td>
                    <td>{{ contract_pdf.created_by }}</td>
                    <td>{{ contract_pdf.created_date }}</td>
                    <td>{{ contract_pdf.updated_by }}</td>
                    <td>{{ contract_pdf.updated_date }}</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <br>

    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table">
                <thead>
                                    <h2>Project Data</h2>

                <tr>


                    <th scope="col">Project ID</th>
                    <th scope="col">Project Code</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Project Item Type</th>
                    <th scope="col">Project No. Items</th>
                    <th scope="col">Project Item Details</th>
                </thead>
                <tbody>


                <tr>


                    <td>{{ project_pdf.id }}</td>
                    <td>{{ project_pdf.project_id }}</td>
                    <td>{{ project_pdf.project_name }}</td>
                    <td>{{ project_pdf.item_type }}</td>
                    <td>{{ project_pdf.no_items }}</td>
                    <td>{{ project_pdf.item_details }}</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table">
                <thead>
                <tr>


                    <th scope="col">Project Design</th>
                    <th scope="col">Project Final Width</th>
                    <th scope="col">Project Final Height</th>
                    <th scope="col">Project Status</th>
                    <th scope="col">Project Start Date</th>
                    <th scope="col">Project End Date</th>
                </thead>
                <tbody>


                <tr>


                    <td style="width: 188px">{{ project_pdf.img }}</td>
                    <td>{{ project_pdf.fn_width }}</td>
                    <td>{{ project_pdf.fn_height }}</td>
                    <td>{{ project_pdf.project_status }}</td>
                    <td>{{ project_pdf.start_date }}</td>
                    <td>{{ project_pdf.end_date }}</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table">
                <thead>
                <tr>


                    <th scope="col">Project Plan Delivery Date</th>
                    <th scope="col">Project Delivery Date</th>
                    <th scope="col">Contract Start Date</th>
                    <th scope="col">Contract Delivery Date</th>
                    <th scope="col">Sales</th>


                </thead>
                <tbody>


                <tr>


                    <td>{{ project_pdf.project_plan_delivery_date }}</td>
                    <td>{{ project_pdf.project_delivery_date }}</td>
                    <td>{{ project_pdf.contract_start_date }}</td>
                    <td>{{ project_pdf.contract_delivery_date }}</td>
                    <td>{{ project_pdf.sales }}</td>


                </tr>
                </tbody>
            </table>

        </div>
    </div>



    <div class="row justify-content-center">
    <div class="col-md-4">

        <table class="table">
            <thead>
            <tr>


                <th scope="col">Project Manager</th>
                <th scope="col">Created By</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated By</th>
                <th scope="col">Updated Date</th>
            </thead>
            <tbody>


            <tr>


                <td>{{ project_pdf.project_manager }}</td>
                <td>{{ project_pdf.created_by }}</td>
                <td>{{ project_pdf.created_date }}</td>
                <td>{{ project_pdf.updated_by }}</td>
                <td>{{ project_pdf.updated_date }}</td>

            </tr>
            </tbody>
        </table>

    </div>
    <br>


    <div class="row justify-content-center">
    <div class="col-md-4">

        <table class="table">
            <thead>
                                <h2>Task Data</h2>

            <tr>


                <th scope="col">Task ID</th>
                <th scope="col">Task Code</th>
                <th scope="col">Task Name</th>
                <th scope="col">Task Item Type</th>
                <th scope="col">Task No. Items</th>
                <th scope="col">Task Item Details</th>
            </thead>
            <tbody>


            <tr>


                <td>{{ task_pdf.id }}</td>
                <td>{{ task_pdf.task_id }}</td>
                <td>{{ task_pdf.task_name }}</td>
                <td>{{ task_pdf.item_type }}</td>
                <td>{{ task_pdf.no_items }}</td>
                <td>{{ task_pdf.item_details }}</td>
            </tr>
            </tbody>
        </table>

    </div>


    <div class="row justify-content-center">
    <div class="col-md-4">

        <table class="table">
            <thead>
            <tr>


                <th scope="col">Task Design</th>
                <th scope="col">Task Final Width</th>
                <th scope="col">Task Final Height</th>
                <th scope="col">Task Status</th>
                <th scope="col">Sales</th>
                <th scope="col">Project Manager</th>

            </thead>
            <tbody>


            <tr>


                <td style="width: 188px">{{ task_pdf.img }}</td>
                <td>{{ task_pdf.fn_width }}</td>
                <td>{{ task_pdf.fn_height }}</td>
                <td>{{ task_pdf.task_status }}</td>
                <td>{{ task_pdf.sales_id }}</td>
                <td>{{ task_pdf.project_manager_id }}</td>

            </tr>
            </tbody>
        </table>

    </div>


    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table">
                <thead>
                <tr>


                    <th scope="col">Task Start Date</th>
                    <th scope="col">Task End Date</th>
                    <th scope="col">Task Delivery Date</th>
                    <th scope="col"> Created By</th>
                    <th scope="col">Created Date</th>
                </thead>
                <tbody>


                <tr>


                    <td>{{ task_pdf.start_date }}</td>
                    <td>{{ task_pdf.end_date }}</td>
                    <td>{{ task_pdf.task_delivery_date }}</td>
                    <td>{{ task_pdf.created_by }}</td>
                    <td>{{ task_pdf.created_date }}</td>

                </tr>
                </tbody>
            </table>

        </div>

<br>
    <div class="row justify-content-center">
        <div class="col-md-4">

            <table class="table" >
                <thead>
                                    <h2>Document Data</h2>

                <tr>
                    <th scope="col">Document ID</th>
                    <th scope="col">Document Code</th>
                    <th scope="col">Document Name</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Created Date</th>
                </thead>
                <tbody>


                <tr>
                    <td style="width: 224px">{{ document_pdf.id }}</td>
                    <td style="width: 224px" >{{ document_pdf.document_id }}</td>
                    <td style="width: 224px">{{ document_pdf.document_name }}</td>
                    <td style="width: 224px">{{ document_pdf.document_type }}</td>
                    <td style="width: 224px">{{ document_pdf.created_date }}</td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}



